__pycache__
.venv
.vscode
WT_hybrid_venv
Bibliography
Dataset_Engie
Dataset_Engie
paper_ComPhys/Datasets
proceedings_ICCS2024/Datasets

paper_ComPhys/Explainability/Tests/
paper_ComPhys/Figures/Fig_Pres.xcf
paper_ComPhys/Figures/Phys_Res_models.pptx.
paper_ComPhys/Figures/notes.odt
paper_ComPhys/Training/Tests/
paper_ComPhys/Training/UQ_scripts/
proceedings_ICCS2024/Figures/Phys_Res_models.pptx.
proceedings_ICCS2024/Figures/Semi-parametric-model-Simone.pptx
proceedings_ICCS2024/Figures/hybrid-model.odg
proceedings_ICCS2024/Figures/intermediate-abstraction.odg
proceedings_ICCS2024/Figures/tables.lyx